<nav class="navbar navbar-expand-lg navbar-custom" style="background-color: rgba(79, 79, 79, 0.8);">
  <div class="container-fluid justify-content-between">
    <!-- Cambiado el contenedor -->
    <div style="margin: 0 1%">
      <a class="navbar-brand ml-auto" href="#">Logo</a>
      <!-- Movido el logo a la derecha -->
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-center"
      id="navbarNav"
      style="margin: 0 1%"
    >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Clients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>

  </div>
</nav>
