:host {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.container {
    background-color: #F2BDBD;
    height: 800px;
    width: 50%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}


body {
    background-image: url('/assets/img/fondo.jpg') ;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 800px;
}

.content {
    color: #4F4F4F;
    margin: 0% 5% 0%;
}

h1, p {
    margin: 0% 0% 10%;
}

p {
    font-size: 3vh;
}


.title {
    text-align: left;
}

.title h1 {
    font-size: 10vh;
    color: #4F4F4F;
    min-width: 400px;
    max-width: 70vh;
}

button {
    margin: 0% 0% 1%;
    width: 200px;
    border-radius: 30px;
    background-color: #4F4F4F;
}
