<app-header></app-header>
<section class="relative h-screen max-h-[800px] min-h-[600px] overflow-hidden bg-cover bg-center" >
  <div class="absolute inset-0 bg-[#F2C6C4]/70 z-0"></div>
  <div class="relative z-10 h-full flex items-center max-w-[1440px] mx-auto px-16">
    <div class="max-w-lg">
      <h1 class="text-7xl font-light text-[#4F4F4F] leading-tight">
        Discover your <span class="font-semibold">natural glow</span> with us.
      </h1>
      <p class="mt-4 font-light text-[#4F4F4F]">
        Explore our services to unlock your best self and enhance your unique beauty.
      </p>
      <button class="mt-6 bg-[#4F4F4F] text-white px-6 py-2 rounded hover:bg-gray-800 transition">
        See more
      </button>
    </div>
  </div>
</section>


<services></services>